
<div class="control-module led-module">
	<div class="module-header">
	  <span class="module-title"> LED-Controller</span>
	  <span> ID: 
			<span class="module-id"> 235</span>
	  </span>
	</div>
	<hr/>
	<div class="module-main">
		<span>
		  <div> Aktuelle Farbe:</div>
		  <div>  <input readonly class="jscolor color-pick act-color" value="FFFFFF"/> </div>
		</span>
		<hr/>
		<span>
			<div> <img src="images/edit.png" alt=""/> Neue Farbe:  </div>
			<div>  <input readonly class="jscolor color-pick new-color" value="FFFFFF"/> </div>
		</span>
		<hr/>
		<span>
			<button onclick="led_setColor(this)"> Farbe <br/> setzen </button>
		</span>
		<hr/>
		<span> 
		  <div>LED aus/an:</div>
		  <label class="switch">
			<input onclick="led_setPower(this)" type="checkbox"/>
			<span class="slider round"></span>
			</label>
		</span>
	</div>

</div>