<div id="main-page">

    <!-- Header -->

    <header>
        <img src="images/logo.png" alt="">
        <img src="images/title.png" alt="Smart Home Dashboard">
    </header>
    <hr>


    <!-- Dashboard -->

    <div id="loginboard" class="main-content">

        <div><strong>Bitte melden Sie sich an.</strong></div>

        <form name="login" action="#" onsubmit="loginSubmit();return false" id="login">
            <div> Benutzername: </div>
            <input name="user" type="text" value="">
            <div> Passwort: </div>
            <input name="pass" type="password" value="">
            <div><input type="submit" value="Verbinden"></div>

        </form>
        <span id="connecting">
            <p>Verbindung wird hergestellt</p>
            <div class="lds-ripple"><div></div><div></div></div>
        </span>




    </div>
    <!-- Dashboard-Ende -->

    <hr>
    <div id="bottom">
        <br>
        <br>
    </div>

</div>
<footer>&copy; Ibrahim Halilovic</footer>