@charset "utf-8";

body{
	min-width: 350px;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#c4e2ef;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#main-page{
	width: 50%;
	margin: auto;
	background-color: aliceblue;
	border:#1E639E medium solid;
	border-radius: 40px;
	box-shadow: 10px 15px 10px 15px #7ea1af;
}
header{
	padding: 10px;
	text-align: center;
	background: #d9e8f4; /* Old browsers */
	background: -moz-linear-gradient(top, #d9e8f4 1%, #afd6f7 20%, #afd6f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d9e8f4 1%,#afd6f7 20%,#afd6f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d9e8f4 1%,#afd6f7 20%,#afd6f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e8f4', endColorstr='#afd6f7',GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
}
header > *{
	display: inline-block;
	vertical-align: middle;
	margin-right: 3%;
}
header img:nth-child(1){
	width: 10%;
}
header img:nth-child(2){
	width: 30%
}


#connection-info{
	font-size: 100%;
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

#user-id{
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

#connected-users{
	text-align: center;
}

#server-access{
	text-align: right;
	margin-left: 20px;
	margin-right: 20px;
}

.bordered-text{
	background-color: #ADADAD;
	border:#1E639E thin solid;
	border-radius: 7px;
	padding: 2px 5px 2px 5px;
	color: white;
	display: inline-block;
}

.vl {
  border-left: 1px solid;
  height: inherit;
}

#main-page > hr, .control-module >hr{
	border: thin solid #1E639E;
	margin: 0px
}

.main-content{
    margin: 0px;
	min-height: 50px;
	height: 50px;
	background: #878787; /* Old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #b7b7b7 31%, #b7b7b7 74%, #878787 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #878787 0%,#b7b7b7 31%,#b7b7b7 74%,#878787 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #878787 0%,#b7b7b7 31%,#b7b7b7 74%,#878787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#878787',GradientType=0 ); /* IE6-9 */
	padding: 20px 10px 1px 10px;
	transition: all ease-in 100ms;
	overflow: hidden;
	text-align: center;
}

#no-module-info{

}

.control-module {
	width: 95%;
	margin: auto;
	margin-bottom: 20px;
	border: medium solid #1E639E;
	border-radius: 20px;
	background: #b1cbed; /* Old browsers */
	background: -moz-linear-gradient(top, #b1cbed 0%, #c2d5ef 42%, #d7e2f1 80%, #aac8ed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b1cbed 0%, #c2d5ef 42%, #d7e2f1 80%, #aac8ed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b1cbed 0%, #c2d5ef 42%, #d7e2f1 80%, #aac8ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1cbed', endColorstr='#aac8ed', GradientType=0); /* IE6-9 */
	box-shadow: 4px 4px 10px 6px #878787;
	transform: scale(0);
	transition: transform ease-in 200ms;
}

.control-module.shown {
	transform: scale(1);
}





.module-header{
	padding: 5px 10px 2px 10px;
	display: flex;
	justify-content: space-between;
	background-color: #A4BDDF;
	border-radius: 18px 18px 0px 0px;
}
.module-title{
	font-weight: bold;
	margin-right: 10px;
}

.module-main{
	height: auto;
	padding: 15px 20px 10px 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.module-main > span{
	margin: 0px 5px 0px 5px;
	width: 100%;
}

.led-module > .module-main > span{
	width: 21%;
}

.module-main > span > div, .module-main > span > span{
	margin-bottom: 15px;
}



.module-main > hr{
	visibility: hidden;
}

.act-color{
	pointer-events: none;
	cursor: default;
}

.color-pick{
	border: medium solid #454545;
	background-color: blue;
	border-radius: 10px;
	padding: 5px;
	width: 85%;;
	height: 18px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	font-size: 100%;
	display: inline;
}



button ,input[type=submit]{
	font-size: 100%;
	height: auto;
	width: auto;
	padding: 10px 20px 10px 20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d1d1d1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d1d1d1;
	box-shadow:inset 0px 1px 0px 0px #d1d1d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3b3b3), color-stop(1, #666666));
	background:-moz-linear-gradient(top, #b3b3b3 5%, #666666 100%);
	background:-webkit-linear-gradient(top, #b3b3b3 5%, #666666 100%);
	background:-o-linear-gradient(top, #b3b3b3 5%, #666666 100%);
	background:-ms-linear-gradient(top, #b3b3b3 5%, #666666 100%);
	background:linear-gradient(to bottom, #b3b3b3 5%, #666666 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#666666',GradientType=0);
	background-color:#b3b3b3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	border:3px solid #454545;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	transform: translate(0px,13%);
}
button:hover ,input[type=submit]:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #b3b3b3));
	background:-moz-linear-gradient(top, #666666 5%, #b3b3b3 100%);
	background:-webkit-linear-gradient(top, #666666 5%, #b3b3b3 100%);
	background:-o-linear-gradient(top, #666666 5%, #b3b3b3 100%);
	background:-ms-linear-gradient(top, #666666 5%, #b3b3b3 100%);
	background:linear-gradient(to bottom, #666666 5%, #b3b3b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#b3b3b3',GradientType=0);
	background-color:#666666;
}
button:active ,input[type=submit]:active{
	position:relative;
	top:1px;
}

button.down{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(0deg,rgba(85,112,140,1) 5%, rgba(60,143,178,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(85,112,140,1) 5%, rgba(60,143,178,1) 100%);
	background: linear-gradient(0deg,rgba(85,112,140,1) 5%, rgba(60,143,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#3c8fb2",GradientType=1);
}


.module-main button{
	margin: 0px 5px 10px 5px;
}

.module-main img{
	width: 13px;
}

.fan-module button{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 50%;
	height: 2.5em;
	margin-bottom: 20px;
	transform: translateY(-2px);
}

.sensor-data {
	display: inline-block;
	text-align: center;
	background-color: #B7B7B7;
	border: #454545 medium solid;
	border-radius: 7px;
	padding: 5px 10% 5px 10%;
	width: 50%;
	color: black;
	font-weight: bold;
	margin-bottom: 15px;
}

.num-input{
	display: inline-block;
	text-align: center;
	background-color: #B7B7B7;
	border: #454545 medium solid;
	border-radius: 7px;
	font-size: 100%;
	width: 50%;
	height: 2em;
	color: black;
	font-weight: bold;
	margin-bottom: 15px;
}

#message-log{
	margin: 10px 20px 20px 20px;
}

#message-log textarea{
	font-size: 100%;
	overflow-y: scroll;
	height: 5.5em;
	resize: none;
	width: 98%;
	margin-top: 5px;
	background: aliceblue;
	border: 2px #B7DDFF solid;
	border-radius: 10px 0px 0px 10px;
}


#loginboard{
	height: auto;
}

#login{
	display: block;
	text-align: left;
	width: fit-content;
	width: -moz-fit-content;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#login > input{
	margin-bottom: 15px;
}

#connecting{
	visibility: hidden;
}

footer{
	margin-top: 35px;
	text-align: right;
	color: #41A2CB;
	font-size: 75%;
	width: 99%;
}


@media only screen and (max-width : 630px ){
	#main-page {
		width: 95%;
		font-size: 120%;
	}
	.color-pick{
		height: 40px;
	}
	
	.module-main{
		display: block;
		padding: 0px;
	}
	
	.module-main > span {
		margin: 0px;
	}
	
	.led-module button{
		margin-bottom: 20px;
	}
	
	.module-main > span > div{
		margin: 10px 20px 10px 20px;
	}
	
	.module-main > hr{
		visibility: visible;
		margin: 0px;
		padding: 0px;
	}
	
	.module-main > button{
		margin-bottom: 20px;
		width: 90%;
	}

	.sensor-data{
		width: 20%;
	}
	
	.num-input{
		width: 20%;
		margin-right: 0px;
	}
	
	
	
}

@media only screen and (max-width : 400px ){
	#connection-info{
		font-size: 90%;
	}
}

@media only screen and ( min-width : 631px ) and (max-width : 1250px ){
  #main-page {
    width: 630px;
  }
}
