<div id="main-page">

	<!-- Header -->

	<header>
		<img src="images/logo.png" alt="">
		<img src="images/title.png" alt="Smart Home Dashboard">
	</header>
	<hr>
	<div id="connection-info">
		<span id="user-id"> Benutzer ID:
			<span class="bordered-text"> keine</span>
		</span>
		<span id="connected-users"> Verbundene Nutzer:
			<span class="bordered-text"> 1</span>
		</span>
		<span id="server-access"> Zugriff:
			<span class="bordered-text"> </span>
		</span>
	</div>
	<hr>

	<!-- Dashboard -->

	<div id="dashboard" class="main-content">

		<strong id="no-module-info" style="display: none"> Keine verbundenen Module </strong>

		<!-- LED-Controller (ausgelagert) -->



		<!-- Temperatur und Luftfeuchtigkeit (ausgelagert) -->


		<!-- Lüftersteuerung (ausgelagert) -->


	</div>
	<!-- Dashboard-Ende -->

	<hr>

	<!-- Nachrichtenverlauf -->
	<div id="message-log">
		<div> <strong>Nachrichtenverlauf </strong></div>

		<textarea readonly>


		</textarea>
	</div>
</div>
<footer>&copy; Ibrahim Halilovic</footer>

